<header>this is a header</header>

<% if(user_id){ %>
<form method='POST' action='/logout'>
    Login as
    <%= userEmail%> <br>
    <input type='submit' value='Logout'>
</form>
<% }else{%>
<form method="POST" action='/login'>
    email: <br>
    <input type='email' name='email'><br>
    <br>
    password: <br>
    <input type='password' name='password'><br>
    <br>
    <input type='submit' value='login' style="background-color:DodgerBlue;">
</form>
<% } %>