<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include partials/_header %>
    <h1>TinyApp</h1>
    <a href=#> Creat New TinyURL</a>
    <h2>Tiny URL for :
        <%= shortURL %>
    </h2>
    <form action='...' method='POST'>
        <input type='text' size='50' value=<%=longURL %> ><input type='submit' value='update'>
    </form>


</body>

</html>