<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <h1>TinyApp</h1>
    <p><a href='/login' class="badge badge-secondary">Login</a>|<a href=# class="badge badge-success">Rigister</a></p>
    <h2>Creat Account</h2>
    <form method='POST' action='/register'>
        E-mail: <br>
        <input type='email' name='email'><br>
        Password: <br>
        <input type='password' name='password'><br><br>
        <input type='submit' value='submit'>

    </form>


</body>

</html>